h1, p {
  text-align: center;
}

.picture {
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 1;
  }
  
  .picture:hover {
    filter: brightness(80%);
  }
  
  .picture-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 12px;
    align-items: center;
  }
  
  .image-title {
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
  }
  #caption {
    width: 100%;
    color: #fff;
    margin-top: 10px;
    text-align: left;
  }
  body {
    background-color: #152038;
    font-family: Impact, fantasy;
    font-weight: 100;
    font-size: 22px;
    color: rgb(228, 178, 41);
  }
  .page-container {
    width: 80%;
    margin-top: 5rem;
    margin: auto;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: 50px;
    overflow: hidden;
    background-color: rgba(29, 124, 187, 0.603);
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
;
  }
  
  nav li a:hover {
    background-color: rgb(228, 178, 41);
  }
  